$white: rgb(255, 255, 255);
$grey: rgba(32, 31, 31, 0.164);
$dark-grey: rgb(0 0 0 / 63%);

.box_item {
  display: flex;
  position: relative;
  margin: 1rem 0 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 0.1rem;
    height: 1rem;
    background-color: $grey;
    top: -1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  input[type="text" i] {
    font-size: 0.7rem;
    font-weight: 700;
    color: $grey;
    cursor: all-scroll;
    border: none;
    outline: none;
    padding: 0;

    &:focus {
      color: $grey;
    }
  }

  .new_item {
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.5rem;
    border: 0.05rem solid $grey;
  }

  button {
    display: flex;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: relative;
  }

  .plus {
    width: 1rem;
    right: 0.04rem;
    top: 0.06rem;
    background-color: $grey;
    position: absolute;
    color: $white;
    cursor: pointer;
  }

  span:not(:first-child) {
    margin-left: 0.25rem;
  }

  span {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    color: $white;
    font-size: 0.55rem;
    padding-left: 0.24rem;
    padding-top: 0.04rem;
    cursor: pointer;
  }
  .clear {
    background: #facc15;
  }

  .add {
    background: #24ad14;
    font-weight: 600;
  }
}

.box_item:not(:first-child) {
  margin-left: 0.8rem;
}
